@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./fonts/MaterialIcons-Regular.woff) format('woff'),
    url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}
/***********
IE font values were removed
Reference links
http://google.github.io/material-design-icons/
https://material.io/icons/
***********/
