$font-stack:  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$font-size-base:  calc(2vh + 3vw + 1%);
$font-xs: 0.75rem;
$font-sm: 1.0rem;
$font-md: 1.5rem;
$font-lg: 2.0rem;
$font-xl: 3.0rem;


$primary-grey: #333333;
$primary-light: lighten($primary-grey, 30%);
$primary-dark: darken($primary-grey, 30%);
$secondary-grey: #cccccc;
$secondary-light: lighten($secondary-grey, 10%);

$info: hsl(209, 80%, 40%);
$success: hsl(131, 80%, 40%);
$warn: hsl(50, 80%, 50%);
$error: hsl(351, 80%, 50%);

$info-lighter: lighten($info, 20%);
$warn-lighter: lighten($warn, 20%);
$error-lighter: lighten($error, 20%);
$success-lighter: lighten($success, 20%);

$info-darker: darken($info, 20%);
$warn-darker: darken($warn, 20%);
$error-darker: darken($error, 20%);
$success-darker: darken($success, 20%);