/************************************
    IMPORTS
************************************/
@import 'variables', 'normalize', 'fonts';

/************************************
    DEFAULTS
************************************/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-family: $font-stack;
  font-size: $font-size-base; 
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
    overflow: auto;
    min-height: 100vh;
    width: 100vw;
}
header{
    padding: 1rem 2rem;
}
section{
    padding: 1rem 0;
}
blockquote{
    /**
    add large padding
    add border top and bottom with default .info color
    add quotation mark icon centered on top of border(s)
    **/
    position:relative;
    border-top: 2px solid hsl(192, 80%, 70%);
    border-bottom: 2ps solid hsl(192, 80%, 70%);
    padding: 1rem 4rem;
    font-size: $font-sm;
}
blockquote::after{
    content: '\e244';
    display: block;
    position:absolute;
    color: #fff;
    background-color: $info;
    border-radius: 50%;
    font-size: $font-md;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    top: -0.75rem;
    
}

/************************************
    TYPOGRAPHY
************************************/
.t1{
    font-size: $font-xl;
    line-height: 1.5;
}
.t2{
    font-size: $font-lg;
    line-height: 1.5;
}
.t3{
    font-size: $font-md;
    line-height: 1.5;
}
.t4{
    font-size: $font-sm;
    line-height: 1.5;
}
.t5{
    font-size: $font-xs;
    line-height: 1.5;
}
.t1-1,
.t2-1,
.t3-1,
.t4-1,
.t5-1{
    line-height: 1;
}
.t1-2,
.t2-2,
.t3-2,
.t4-2,
.t5-2{
    line-height: 1;
}

/************************************
    PAGES
************************************/
.page{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.page.active{
    display: block;
    z-index: 100;
    opacity: 1;
}
.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
}
.overlay-bars{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 400;
}
.overlay>*,
.overlay-bars>*{
    padding: 5rem 2rem;
}
.page>.content{
    padding: 4rem 1rem 1rem;
}
.page>.content.nobar{
    padding: 1rem;
}
.page > .bar + .content,
.page > .bar-half + .content{
    padding: 2.5rem 0.5rem 1rem;
}
.message{
    padding:8rem 1rem 1rem;
    text-align: center;
    position: relative;
    z-index: 600; /* on top of any overlay */
}
img.fluid,
video.fluid,
audio.fluid,
object.fluid{
    width:100%;
    max-width: 100%;
    height: auto;
}
/************************************
    CARDS
************************************/
.card{
    margin: 1rem;
    border:1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background-color: #fff;
}
.card.fixed{
    position: absolute;
    top: 4rem; /* to allow space for the top bar */
    left: 1rem;
    right: 1rem;
    margin: 0;
    transition: all 0.5s ease-out;
}
.card.fixed.nobar{
    top: 1rem;
}
.card.fixed.top{
    transform: translateY(-200%);
    opacity: 0;
    z-index: 10;
    transition: transform 0.4s linear, opacity 0.5s linear;
}
.card.fixed.left{
    transform: translateX(-200%);
    opacity: 0;
    z-index: 10;
    transition: transform 0.4s linear, opacity 0.5s linear;
}
.card.fixed.right{
    transform: translateX(200%);
    opacity: 0;
    z-index: 10;
    transition: transform 0.4s linear, opacity 0.5s linear;
}
.card.fixed.dot{
    transform: scale(0);
    opacity: 0;
    z-index: 10;
    transition: transform 0.4s linear, opacity 0.5s linear;
}
.card.active{
    transform: translateY(0);
    opacity: 1;
    z-index: 50;
}
.card.goLeft{
    background-color: hsla(0, 50%, 50%, 0.2);
    transform: translateX(-200%);
    opacity: 0;
}
.card.goRight{
    background-color: hsla(90, 50%, 50%, 0.2);
    transform: translateX(200%);
    opacity: 0;
}
.card img{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
}
.card header{
    padding: 0.5rem 0;
    margin: 0;
    border-bottom: 3px solid #eee;
}
.card header>h1{
    padding: 0 1rem;
    font-size: $font-lg;
    line-height: 1;
}
.card header>h2{
    padding: 0 1rem;
    font-size: $font-md;
    line-height: 1;
}
.card header>h3{
    padding: 0 1rem;
    font-size: $font-sm;
    line-height: 1;
}
.card p{
    padding: 0.2rem 1rem;
    font-size: $font-sm;
}

/************************************
    NAV MENU and TABS
************************************/
.bar{
    position:fixed;
    left: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:#eee;
    z-index: 300;
}
.bar h1,
.bar h2,
.bar h3{
    font-size: $font-md;
    color: #666;
    letter-spacing: 3px;
}
.bar.top{
    top: 0;
    border-bottom: 1px solid #ccc;
}
.bar.bottom{
    bottom: 0; 
    border-top: 1px solid #ccc;
}
.bar .tab{
    flex:1 1 auto;
    align-self: center;
    text-align: center;
    font-size: $font-xs;
    line-height: 3rem;
    color: #666;
    border-right: 1px solid #ccc;
    vertical-align:text-top;    
}
.bar .tab:hover,
.bar .tab:active,
.bar .tab.current{
    color: crimson;
}
.bar .tab:last-child{
    border-right: none;
}
.bar .tab.icon:empty::before{
    /* if the tab has no text, just an icon */
    line-height: 3rem;
    font-size: $font-lg;
}
.bar .tab.icon{
    /* if the icon class is added too then
    reduce the line-height to 1rem */
    line-height: 1rem;
}
.bar .tab.icon::before{
    font-size: $font-sm;
    line-height: 1;
}
.bar-half{
    position: fixed;
    left: 0;
    right: 0;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    z-index: 300;
}
.bar-half .right{
    float: right;
    line-height: 2rem;
}
.bar-half .left{
    float: right;
    line-height: 2rem;
}
.ios .bar-half .link.right{
    float: none;    
    position:absolute;
    right: 1rem;
    top: 0;
    padding: 0.1rem;
    line-height: 1.5rem;
    text-align: right;
}
.ios .bar-half .link.left{
    float: none;
    position: absolute;
    left: 1rem;
    top:0;
    padding: 0.1rem;
    line-height: 1.5rem;
    text-align: left;
}


/************************************
    ICONS
************************************/
.icon::before{
    font-family: 'Material Icons';
    font-size: inherit;
    line-height: 1.2;
    display: block;
    margin:auto;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.icon.home::before{
    content: '\e88a';
}
.icon.fav::before{
    content: '\e87d';
}
.icon.heart::before{
    content: '\e87e';
}
.icon.headphones::before{
    content: '\e310';
}
.icon.edit::before{
    content: '\e150';
}
.icon.delete::before{
    content: '\e872';
}
.icon.remove::before{
    content: '\e15d';
}
.icon.clear::before{
    content: '\e14c';
}
.icon.add::before{
    content: '\e148';
}
.icon.attach::before{
    content: '\e226';
}
.icon.emoji::before{
    content: '\e24e';
}
.icon.lock::before{
    content: '\e899';
}
.icon.lock-open::before{
    content: '\e898';
}
.icon.download::before{
    content: '\e2c4';
}
.icon.upload::before{
    content: '\e2c6';
}
.icon.refresh::before{
    content: '\e5d5';
}
.icon.share::before{
    content: '\e80d';
}
.icon.camera::before{
    content: '\e3b0';
}
.icon.check-circle::before{
    content: '\e86c';
}
.icon.star::before{
    content: '\e885';
}
.icon.help::before{
    content: '\e8fd';
}
.icon.info::before{
    content: '\e88f';
}
.icon.external::before{
    content: '\e895';
}
.icon.user::before{
    content: '\e8a6';
}
.icon.comments::before{
    content: '\e8af';
}
.icon.marker::before{
    content: '\e8b4';
}
.icon.settings::before{
    content: '\e8b8';
}
.icon.clock::before{
    content: '\e8b5';
}
.icon.store::before{
    content: '\e8d1';
}
.icon.thumb-up::before{
    content: '\e8db';
}
.icon.thumb-down::before{
    content: '\e8dc';
}
.icon.calendar::before{
    content: '\e8df';
}
.icon.bookmark::before{
    content: '\e8e7';
}
.icon.alert::before{
    content: '\e001';
}
.icon.record::before{
    content: '\e061';
}
.icon.play::before{
    content: '\e037';
}
.icon.pause::before{
    content: '\e034';
}
.icon.stop::before{
    content: '\e047';
}
.icon.volume-on::before{
    content: '\e050';
}
.icon.volume-off::before{
    content: '\e04f';
}
.icon.email::before{
    content: '\e0be';
}
.icon.quote::before{
    content: '\e244';
}
.icon.arrow_up::before {
  content: '\e316';
}
.icon.arrow_down::before {
  content: '\e313';
}
.icon.arrow_left::before {
  content: '\e314';
}
.icon.arrow_right::before {
  content: '\e315';
}
.icon.microphone::before {
  content: '\e31d';
}
.icon.save::before {
  content: '\e161';
}
.icon.cancel::before{
    content: '\e14c';
}

/************************************
    LISTS
************************************/
.list-view{
    margin:4rem 0;
}
.content .list-view{
    margin: 0.5rem 0;
}
.list-item{
    list-style-type: none;
    border: 1px solid #eee;
    color: #999;
    border-bottom: none;
    position: relative;
}
.list-item p{
    font-size: $font-sm;
    padding: 0.5rem 3rem 0;
    text-overflow: clip;
    font-weight: 500;
    line-height: 1;
    min-height: 3.5rem;
}
.list-item>p{
    padding: 0.25rem 3rem 0.25rem 1rem;
}
.list-item p:nth-of-type(2),
.list-item p:nth-of-type(3),
.list-item p:nth-of-type(4),
.list-item p:nth-of-type(5)   {
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.25rem 3rem 0.25rem 1rem;
    min-height: 1.2rem;
    height: auto;
}
.list-item .avatar-box~p,
.list-item .avatar~p{
    padding-left: 4.0rem;
}
.list-item .action-left ~ p{
    padding-left: 3rem;
}
/* TODO handle avatar plus action left */
.list-item .action-right ~ p{
    padding-right: 2.5rem;
}
.list-item:last-child{
    border-bottom: 1px solid #eee;
}
.list-item .avatar{
    position: absolute;
    box-sizing: content-box;
    width: 2.8rem;
    height: 2.8rem;
    left: 0.5rem;
    top: 0.6rem;
    border-radius: 50%;
    border:0px solid #999;
}
.list-item .avatar-box{
    position: absolute;
    box-sizing: content-box;
    width: 2.8rem;
    height: 2.8rem;
    top: 0.6rem;
    left: 0.5rem;
    border-radius: 0;
    border: 0px solid #999;
}
.list-item .action-right{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    font-size: $font-md;
    line-height: 1;
    width: 1.5rem;
    height: 2rem;
    border-radius: 50%;
    color: inherit;
}
.list-item .action-left{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: $font-md;
    line-height: 1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: inherit;
}
.action-left:active,
.action-right:active{
    background-color: hsla(180, 50%, 70%, 0.5);
}

/************************************
    IMAGES
************************************/
img.round{
   border-radius: 0.5rem; 
}

/************************************
    FORMS
************************************/

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="email"]{
    color: $primary-grey;
    border: none;
    border-bottom: 1px solid $primary-light;
    font-size: $font-md;
    line-height: $font-lg;
    font-weight: 300;
    max-width: 90vw;
    width: 90vw;
}
select{
    color: $primary-grey;
    border: 1px solid $primary-light;
    font-size: $font-md;
    line-height: $font-lg;
    margin-top: $font-xs;
    font-weight: 300;
    min-width: 90vw;
    max-width: 90vw;
}
option{
    color: $primary-grey; 
    font-size: $font-md;
    line-height: $font-lg;
    font-weight: 300;
}
optgroup{
    color: $primary-dark;
    font-size: $font-md;
    line-height: $font-lg;
    font-weight: 500;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
    /* color: $primary-grey; */
    font-size: $font-md;
    padding: 0.1rem 1rem;
    width:auto;
}
input[type="radio"]{
    color: $primary-grey;
    font-size: $font-md;
    line-height: $font-lg;
    width: $font-sm;
    height: $font-sm;
    margin-top: (($font-lg - $font-sm)/2);
}
input[type="checkbox"]{
    color: $primary-grey;
    font-size: $font-md;
    line-height: $font-lg;
    width: $font-sm;
    height: $font-sm;
    margin-top: (($font-lg - $font-sm)/2);
}
textarea{
    color: $primary-grey;
    border: 1px solid $primary-light;
    font-size: $font-md;
    line-height: $font-lg;
    max-width: 90vw;
}
label{
    color: $primary-light;
    font-size: $font-sm;
    font-weight: 300;
    line-height: $font-md;
}
form{
    padding: 0 1rem;
    max-width: 100vw;
    box-sizing: border-box;
}
legend{
    color: $primary-light;
    font-size: $font-md;
    line-height: $font-lg;
}
fieldset{
    color: $primary-light;
    border-color: $primary-light;
    outline-color: $primary-light;
}
.form-row{
    margin-top: 0.5rem;
    padding: 0;
    position: relative;
    clear: both;
    min-height: ($font-md + $font-sm);
}
.form-row.buttons{
    text-align: right;
}
.form-row input[type="text"] + label,
.form-row input[type="tel"] + label,
.form-row input[type="email"] + label,
.form-row input[type="password"] + label,
.form-row input[type="number"] + label,
.form-row input[type="url"] + label,
.form-row input[type="file"] + label,
.form-row select + label{
    /* only for text inputs and select */
    position: absolute;
    transition: transform 0.2s linear;
}
.form-row input[type="radio"] + label,
.form-row input[type="checkbox"] + label{
    transform: translate(0);
    margin: 0.1rem 0.5rem;
    float:left;
}
.form-row input[type="radio"],
.form-row input[type="checkbox"]{
    
}
input:focus,
select:focus{
    outline: none;
}
input:required:invalid + label{
    /* labels for inputs that ARE empty but not :focused -X */
    font-size: $font-sm;
    line-height: $font-md;
    transform: translateY(-($font-md));
}
select + label{
    font-size: $font-xs;
    line-height: $font-xs;
    transform: translateY(-($font-lg + $font-md));
}
input:required:valid + label,
input:required:focus + label{
    /* labels for inputs that are not empty -x */
    /* label immediately after input that has focus regardless of content -x */
    font-size: $font-xs;
    line-height: $font-xs;
    transform: translateY(-($font-md + $font-sm));
}
input:disabled,
input:read-only{
    
}
input:invalid,
input:out-of-range{
    
}
input:required{
    
}
/************************************
    BUTTONS
************************************/
.btn-row{
    display:flex;
    align-content: space-around;
    justify-content: space-around;
}
.btn,
a.btn,
input.btn,
button.btn{
    border: 1px solid $info;
    line-height: $font-md;
    font-size: $font-sm;
    padding: 0.1rem 2rem;
    margin: 0.1rem;
    background-color: $info;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 300;
    
    .success{
        background-color: $success;
    }
    .error{
        background-color: $error;
    }
    .warn{
        background-color: $warn;
    }
    .info{
        background-color: $info;
    }
}
.btn-small,
a.btn-small,
input.btn-small,
button.btn-small{
    border: 1px solid $info;
    line-height: $font-sm;
    font-size: $font-xs;
    padding: 0.1rem 1rem;
    background-color: $info;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 300;
    margin: 0.1rem;
    
    .success{
        background-color: $success;
    }
    .error{
        background-color: $error;
    }
    .warn{
        background-color: $warn;
    }
    .info{
        background-color: $info;
    }
}
.btn-row .btn{
    flex: 1 1 auto;
}
.btn-row .btn-small{
    flex: 1 1 auto;
}
.fab{
    position:fixed;
    bottom: 4rem;
    right: 2rem;
    font-size: 2rem;
    line-height: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    text-align: center;
    background-color:#e61a38;
    color: #fff;
    border-radius: 50%;
    z-index: 170;
}
.android .btn.fab{
    border-radius: 50%;
    width: $font-lg;
    height: $font-lg;
    vertical-align: middle;
    padding: 0.2rem;
    
    &.success{
        background-color: $success;
    }
    &.error{
        background-color: $error;
    }
    &.warn{
        background-color: $warn;
    }
    &.info{
        background-color: $info;
    }
}
.android .btn,
.android input.btn,
.android a.btn,
.android button.btn,
.android .btn-small,
.android a.btn-small,
.android input.btn-small,
.android button.btn-small{
    /* use the info colours */
    color: rgb(255, 255, 255);
    border-radius: 0;
    border: none;
    
    &.success{
        background-color: $success;
    }
    &.error{
        background-color: $error;
    }
    &.warn{
        background-color: $warn;
    }
    &.info{
        background-color: $info;
    }
}
.ios .btn,
.ios input.btn,
.ios a.btn,
.ios button.btn{
    /* use the info colours */
    color: $info;
    background-color: transparent;
    border-radius: 0.3rem;
    
    &.success{
        color: $success;
        border-color: $success;
    }
    &.error{
        color: $error;
        border-color: $error;
    }
    &.warn{
        color: $warn;
        border-color: $warn;
    }
    &.info{
        color: $info;
        border-color: $info;
    }
}
.ios .btn-small,
.ios a.btn-small,
.ios input.btn-small,
.ios button.btn-small{
    border-radius: 0.3rem;
    color: $info;
    background-color: transparent;
    
    &.success{
        color: $success;
    }
    &.error{
        color: $error;
    }
    &.warn{
        color: $warn;
    }
    &.info{
        color: $info;
    }
}
a.link{
    line-height: $font-sm;
    font-size: $font-xs;
    padding: 0.1rem 1rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 300;
    margin: 0.1rem;
}
.ios a.link{
    border: none;
    display: inline-block;
    color: $info;
    background-color: transparent;
    
    &.success{
        color: $success;
    }
    &.error{
        color: $error;
    }
    &.warn{
        color: $warn;
    }
    &.info{
        color: $info;
    }
}
.android a.link{
    border: none;
    display: inline-block;
    color: $info;
    background-color: transparent;
    
    &.success{
        color: $success;
    }
    &.error{
        color: $error;
    }
    &.warn{
        color: $warn;
    }
    &.info{
        color: $info;
    }
}
.link.right::before{
    float:right;
    padding-left: 0.25rem;
    line-height: inherit;
    font-size: inherit;
}
.link.left::before{
    float: left;
    padding-right: 0.25rem;
    line-height: inherit;
    font-size: inherit;
}
/* needs segment controls for buttons */

/************************************
    COLOURS
************************************/
.success{
    color: $success;
}
.error{
    color: $error;
}
.warn{
    color: $warn;
}
.info{
    color: $info;
}
.success-back{
    background-color: $success;
    color: #fff;
    border-top: 1px solid $success-darker;
    border-bottom: 1px solid $success-darker;
}
.error-back{
    background-color: $error;
    color: #fff;
    border-top: 1px solid $error-darker;
    border-top: 1px solid $error-darker;
}
.warn-back{
    background-color: $warn;
    color: #fff;
    border-top: 1px solid $warn-darker;
    border-top: 1px solid $warn-darker;
}
.info-back{
    background-color: $info;
    color: #fff;
    border-top: 1px solid $info-darker;
    border-top: 1px solid $info-darker;
}

/************************************
    UTILITIES
************************************/
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    margin:auto;
    text-align: center;
}


